/*

*/

/* Pagina inicial */

/* --- FIM ---*/

/* Menu logar */

/* --- FIM ---*/

/* Menu cadastrar-se */
	#radio{
		width: 300px;
		margin: 10px 0px 0px 15px;
	}

	#img_facul{
		position: absolute;
		left: 430px;
		top: 229px;		
	}
/* --- FIM ---*/