/ *
* /

/ * Página inicial * /

/ * --- FIM --- * /

/ * Menu logar * /

/ * --- FIM --- * /

/ * Menu cadastrar-se * /
	#radio {
		largura : 300 px ;
		margem : 10 px  0 px  0 px  15 px ;
	}

	#img_facul {
		posição : absoluta ;
		esquerda : 480 px ;
		topo : 229 px ;		
	}
/ * --- FIM --- * /

/ * --- esqueci a minha senha --- * /
	#img_senha {

	}
/ * --- FIM --- * /

/ * apresentação * /
	* { box-sizing : border-box }

	/ * dimensões da apresentação * / 
	.slideshow-container {
		max-com : 1000 px ;
		posição : relativa ;
		margem : auto ;
	}

	/ * observe img por padrão * /
	.mySlides {
		exibir : nenhum ;
	}

	/ * Botões * /
	.prev , .next {
		cursor : ponteiro ;
		posição : absoluta ;
		topo : 50 % ;
		largura : auto ;
		margem superior : -22 px ;
		preenchimento : 16 px ;
		cor : branco ;
		font-weight : negrito ;
		tamanho da fonte : 18 px ;
		transição : 0,6 s de  facilidade ;
		raio de fronteira : 0  3 px  3 px  0 ;
	}

	/ * posição do botão a direita * /
	.next {
		direita : 0 ;
		raio de fronteira : 3 px  0  0  3 px ;
	}

	/ * Ao passar o mouse * /
	.prev : hover , .next : hover {
		cor de fundo : rgba ( 0 , 0 , 0 , 0,8 );
	}

	/ * texto da legenda * /
	.text {
		cor : # f2f2f2 ;
		tamanho da fonte : 15 px ;
		preenchimento : 8 px  12 px ;
		posição : absoluta ;
		fundo : 8 px ;
		largura : 100 % ;
		texto-alinhar : centro ;
	}

	/ * numeros (1/3) * /
	.numbertext {
		cor : # f2f2f2 ;
		tamanho da fonte : 12 px ;
		preenchimento : 8 px  12 px ;
		posição : absoluta ;
		top : 0 ;
	}

	/ * Pontos marcadores * /
	.dot {
		cursor : ponteiro ;
		altura : 15 px ;
		largura : 15 px ;
		margem : 0  2 px ;
		background-color : #bbb ;
		raio de fronteira : 50 % ;
		display : bloco inline ;
		transição : facilidade de 0,6 s na  cor de fundo;
	}

	.active , .dot : hover {
		cor de fundo : # 717171 ;
	}

	/ * animação * /
	.fade {
		-webkit-animation-name : fade;
		-webkit-animation-duration : 1,5 s ;
		nome da animação : fade;
		animação-duração : 1,5 s ;
	}

	@ -wekit-keyframes fade {
		de { opacidade : .4 }
		para { opacidade : 1 }
	}

	@keyframes  fade {
		de { opacidade : .4 }
		para { opacidade : 1 }
	}

/ * --- FIM --- * /